html {
    background-color: white;
    color: black;
    height: min-content;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0 !important;
}

p {
    color: black;
    line-height: 1.3rem;
    font-size: 1rem;
}
li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    line-height: 2rem;
    font-weight: 300;
    font-size: 1rem;
}

.background-img-style {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

a:visited {
    color:black;
}

.button:hover {
    box-shadow: 0.5rem 0rem 0.5rem black; 
}

.button:active {
    box-shadow: none;
}

.logo {
    height: 80vh;
    width: 100vw;
}
@media only screen and (min-width: 901px) {
  
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 450px) {

}
/** Nav Styles **/
.nav-wrapper {
    background-color: #dbe0ef;
    width: 100%;
    justify-content: space-around;
    height: 2rem;
    display: flex;
    align-items: center;
	position: sticky;
	top: 0;
        
}
.nav-list {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px !important;
}

.nav-list li {
    text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
nav li:hover {
    text-decoration: underline;
  }
  
@media only screen and (min-width: 901px) {

}
@media only screen and (max-width: 900px) {


}
@media only screen and (max-width: 450px) {
    
}
    
/** Banner styles **/
.banner {
    flex-direction: column;
    width: 100vw;
}
.main-element {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-element-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homepage-logo {
    background-image: url("images/cookies-background.jpg");
}
.about-us .image-container {
    background-image: url("images/renard-bakery.jpeg");
}
.menus {
    background-image: url("images/tables.jpeg");
    display: flex;
}
.menus h2 {
    text-align: center;
}
.menus ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px !important;
}
.menus li {
    list-style-type: none;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    opacity: 0.8;
    max-height: 3rem;
    
}
.location .image-container {
    background-image: url("images/map.webp");
}
.order {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media only screen and (min-width: 501px) {
    .main-element {
        flex-direction: row;
    }
    .image-container {
        width: 60%;
        height: 100%;
    }
    .text-element-wrapper {
        width: 40%;
        height: 100%;
    }
    .order h2 {
        background-color: rgb(164, 55, 55);
        font-size: 3rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .main-element {
        flex-direction: column;
    }
    .image-container {
        width: 100%;
        height: 60%;
    }
    .about-us .text-element-wrapper {
        height: 60vh;
    }
    .menus {
        align-items: center;
    }
    .menus ul {
        flex-direction: column;
        margin: auto;
    }
    .order h2 {
        background-color: rgb(164, 55, 55);
        font-size: 2rem;
        padding: 0.5rem;
    }
}

/** Footer Styles **/
.footer-content {
    padding-inline-start: 0px !important;
    display: flex;
    background-color: #dbe0ef;
    justify-content: space-between;
}
.footer-content li {
    text-align: center;
}
.footer-content li p {
    line-height: 0em;
    font-size: 0.8rem;
}
@media only screen and (max-width: 500px) {
    .footer-content {
        flex-direction: column;
    }
}
